.card {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12);
    box-sizing: border-box;
    margin-top: 10px 0;
    background-color: #FFF;
    max-width: 529px;
    transition: all 0.2s ease-in-out;
    &:hover {
        cursor: pointer;
    }

    img {
        opacity: 0.7;
        width: 100%;
        transition: opacity 0.7s;
        &:hover {
            opacity: 1;
        }
    }

    .card-inner {
        padding: 10px;
    }
}